img {
  width: 30px;
  object-fit: contain;
}

.btn__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: rgb(181, 190, 190);

  margin: 4px;
  border-radius: 10px;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  background-color: transparent;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
section > div {
  display: flex;
  flex-direction: column;
}

.btn__google {
  margin-right: 20px;
}

.btn__github {
  margin-right: 27px;
}
h4 {
  text-align: center;
}

h3 {
  text-align: center;
}

h5 {
  text-align: center;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
